@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@theme {
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views';

@import '@css/partials/theme.css';
@import '@css/partials/base.css';
@import '@css/partials/tables.css';
@import '@css/partials/pagination.css';
@import '@css/partials/forms.css';
@import '@css/partials/buttons.css';
@import '@css/partials/nav.css';
@import '@css/partials/datatable.css';
@import '@css/partials/badges.css';
@import '@css/partials/tabs.css';
@import '@css/partials/typography.css';
@import '@css/partials/wells.css';
@import '@css/partials/cards.css';
@import '@css/partials/notifications.css';
@import '~/nprogress/nprogress.css';
