.badge {
  @apply inline-flex items-center justify-center rounded-md px-1 py-1 text-xs capitalize;

  &.badge-primary {
    color: #ffffff;
    background-color: var(--primary-color);
  }

  &.badge-secondary {
    color: var(--color-text);
    background-color: var(--color-surface-muted);
  }

  &.badge-info {
    background-color: var(--info-color);
  }

  &.badge-success {
    background-color: var(--success-color);
  }

  &.badge-warning {
    background-color: var(--warning-color);
  }

  &.badge-error,
  &.badge-danger {
    color: #ffffff;
    background-color: var(--error-color);
  }
}

@layer components {
  .badge {
    @apply inline-flex items-center rounded-full font-medium;
  }
  .badge-xxs {
    @apply text-xxs px-1.5 py-0.5;
  }
  .badge-xs {
    @apply px-2 py-0.5 text-xs;
  }
  .badge-sm {
    @apply px-2.5 py-1 text-sm;
  }
}
