.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-info {
  color: var(--info-color);
}

.text-success {
  color: var(--success-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-danger {
  color: var(--error-color);
}

.text-xxs {
  font-size: 0.65em;
}

.text-xxxs {
  font-size: 0.5em;
}
